<b>######################### Notebook for Peer reviewd Assignment for Week3 #######################         
######################### Creating a Notebook from Wiki page             #######################
######################### Arrange the data into structured format        #######################    ################################################################################################</b> 


In this assignment, the Wikipedia page (https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M) will be scrapped to get the neighbourhoods in Toronto city.

In [1]:
######## Importing required Libraries
import numpy as np  ; import pandas as pd  ;

In [2]:
##### Getting data from WIKI HTML  #############################
#Scrapping the wiki page. 
#The best option is to use pandas.read_html as the data is already in table format
#Otherwise request and beutifulSoup librarires can be used, but I prefer the simplest method

wiki_page='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'


A= pd.read_html(wiki_page)[0]

<b>##################### Addressing each comments given in My Submission section ##########################</b>

In [3]:
#Only process the cells that have an assigned borough. 
#Ignore cells with a borough that is Not assigned.
A_1=A[A.Borough!='Not assigned'] 

A_1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [4]:
#More than one neighborhood can exist in one postal code area.
#Rows with same postal code combined into one row wit neighbourhood seperated by coma

A_2 = A_1.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [6]:
#If a cell has a borough but a Not assigned in neighborhood, 
#then the neighborhood will be the same as the borough.
A_2.loc[A_2.Neighbourhood == 'Not assigned', 'Neighbourhood'] = A_2.Borough
A_2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [7]:
A_2.shape

(103, 3)