<b>######################### Notebook for Peer reviewd Assignment for Week3 #######################         
######################### Creating a Notebook from Wiki page             #######################
######################### Arrange the data into structured format        #######################    ################################################################################################</b> 


In this assignment, the Wikipedia page (https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M) will be scrapped to get the neighbourhoods in Toronto city.

In [3]:
######## Importing required Libraries
import numpy as np  ; import pandas as pd  ;

In [4]:
##### Getting data from WIKI HTML  #############################
#Scrapping the wiki page. 
#The best option is to use pandas.read_html as the data is already in table format
#Otherwise request and beutifulSoup librarires can be used, but I prefer the simplest method

wiki_page='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'


A= pd.read_html(wiki_page)[0]

<b>##################### Addressing each comments given in My Submission section ##########################</b>

In [5]:
#Only process the cells that have an assigned borough. 
#Ignore cells with a borough that is Not assigned.
A_1=A[A.Borough!='Not assigned'] 

A_1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [6]:
#More than one neighborhood can exist in one postal code area.
#Rows with same postal code combined into one row wit neighbourhood seperated by coma

A_2 = A_1.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [7]:
#If a cell has a borough but a Not assigned in neighborhood, 
#then the neighborhood will be the same as the borough.
A_2.loc[A_2.Neighbourhood == 'Not assigned', 'Neighbourhood'] = A_2.Borough
A_2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [8]:
A_2.shape

(103, 3)

<b>############ Add latitude and longitude to corresponding postal codes ###########################################
############ Use the Geospatial_Coordinates.csv file for the purpose ############################################
############ Make sure that the postal code matches when finding lat and lon from csv file ######################</b>

In [10]:
geo_cord = pd.read_csv('Geospatial_Coordinates.csv')
geo_cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
## Check the Postal code column of  both data frame have same values

if (geo_cord['Postal Code']==A_2.Postcode).all() :
    print("Postal codes in both columns match excatly each other")

Postal codes in both columns match excatly each other

In [12]:
## Check the shape of both data frames
geo_cord.shape

(103, 3)

In [13]:
A_2.shape

(103, 3)

In [14]:
### Merge lat and lon with neighbourhood and Borough
A_3=pd.concat([A_2,geo_cord['Latitude'],geo_cord['Longitude']],axis=1)

A_3.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [15]:
A_3

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054